* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Radio Canada Big", sans-serif;
}

h2,
h3 {
  margin: 0px;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: #c98615 solid 3px;
  background-color: #333;
  height: fit-content;
}

.cv-header {
  font-size: 4vw;
  font-weight: 300;
}

header > h1 {
  font-size: 5vw;
  color: #c98615;
  margin: 0px;
  text-align: right;
  height: fit-content;
  align-self: center;
  display: inline;
}

nav {
  height: fit-content;
}

.menu {
  width: fit-content;
  position: relative;
}

/* Makes the burger work */
.burger:hover + ul,
nav ul:hover {
  display: inherit;
  position: absolute;
  background-color: #333;
  border-radius: 3px;
  left: 5px;
  top: 50px;
  animation: stretch 0.15s ease-in;
}

@keyframes stretch {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger {
  padding: 5px;
  border: #efbf6b solid 2px;
  border-radius: 5px;
  margin: 5px 10px;
}

.line {
  width: 35px;
  height: 7px;
  border-radius: 25px;
  background-color: #c98615;
  margin: 4px;
}

nav ul {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 5px;
}

nav ul li {
  padding: 10px;
  font-size: 2rem;
  color: white;
}

/* Change the link color to #111 (black) on hover */
nav > ul > li:hover {
  background-color: #111;
  color: #c98615;
}

#quote {
  background: #efbf6b;
  padding: 10px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
  border-bottom: #c98615 solid 3px;
}

cite {
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 1.5em;
}

#intro,
#experience-list,
#list-education {
  margin: 0px 40px;
}

.mail,
#skills ul {
  margin-bottom: 0px;
}

#portrait {
  border-radius: 25px;
  border: #c98615 solid 3px;
  margin: 0px auto;
}

#about-me {
  flex-basis: 500px;
  scroll-margin-top: 75px;
}

#skills {
  width: 220px;
  right: 120px;
  border: #c98615 dotted 3px;
  padding: 5px 15px;
  scroll-margin-top: 200px;
  margin: 0px auto;
  margin-bottom: 20px;
}

#intro {
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 20px;
}

#experience {
  scroll-margin-top: 75px;
}

#experience h2,
#education {
  background-color: #efbf6b;
  margin: 0px;
  padding-left: 30px;
  border-bottom: #c98615 solid 3px;
  border-top: #c98615 solid 3px;
}

#experience-list,
#list-education {
  border-left: #c98615 dotted 3px;
  padding: 4px 4px 0px;
  margin-bottom: 30px;
}

.date {
  font-size: 1.2rem;
  margin: 0px 0px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  margin: 0px;
}

footer p {
  margin: 0px;
}

@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }

  header {
    flex-direction: column-reverse;
  }

  #intro,
  #experience-list,
  #list-education {
    margin: 0px 60px;
  }

  .phone {
    margin: 0px;
  }

  #experience h2,
  #education {
    padding-left: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin: 0px;
  }

  nav ul li {
    padding: 0px;
    flex-grow: 1;
    font-size: 2.5vw;
  }

  nav ul:hover {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    align-content: flex-end;
    left: 0px;
    top: 0px;
    animation: none;
  }

  nav ul li:hover {
    animation: fade 0.5s ease-in;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.2;
    }
    40% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .name,
  nav {
    flex-basis: content;
    flex-shrink: 0;
  }

  nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  nav > ul > li > a:hover {
    color: #c98615;
  }

  .name,
  .cv-header {
    padding: 0px 10px;
    align-self: center;
  }
}

@media screen and (min-width: 740px) {
  header {
    flex-direction: row;
    align-items: flex-end;
  }

  nav ul li {
    font-size: 2vw;
  }

  header h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 3vw;
  }

  .cv-header {
    font-size: 2.5vw;
  }

  #about-me {
    flex-basis: 900px;
  }

  #portrait,
  #skills {
    margin-top: -42px;
  }
}

@media screen and (min-width: 914px) {
  nav ul {
    margin-top: 0px;
  }

  header h1 {
    flex-basis: 55%;
  }

  #about-me {
    flex-basis: 900px;
  }

  header nav {
    flex-basis: 45%;
  }

  nav ul li {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 980px) {
  #about-me {
    flex-basis: 40%;
    align-self: flex-start;
  }

  #about-me h2 {
    margin-bottom: 4px;
  }

  #portrait,
  #skills {
    margin-top: 0px;
  }

  nav ul li {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  #intro,
  #experience-list,
  #list-education {
    margin: 0px 120px;
  }

  header .name {
    font-size: 3.7rem;
  }

  header .cv-header {
    font-size: 3rem;
  }
}
